body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

.links-container {
  padding-top: 50px;
}

.link-list {
  padding-top: 20px;
}

.link-box {
  padding-bottom: 20px;
}

.tag {
  padding: 10px;
}

.iconbutton-box {
  cursor: pointer;
  margin-left: 5px;
}
